@font-face {
    font-family: 'nobilemedium_italic';
    src: url('nobile-mediumitalic-webfont.eot');
    src: url('nobile-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('nobile-mediumitalic-webfont.woff2') format('woff2'),
         url('nobile-mediumitalic-webfont.woff') format('woff'),
         url('nobile-mediumitalic-webfont.ttf') format('truetype'),
         url('nobile-mediumitalic-webfont.svg#nobilemedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nobileregular';
    src: url('nobile-regular-webfont.eot');
    src: url('nobile-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('nobile-regular-webfont.woff2') format('woff2'),
         url('nobile-regular-webfont.woff') format('woff'),
         url('nobile-regular-webfont.ttf') format('truetype'),
         url('nobile-regular-webfont.svg#nobileregular') format('svg');
    font-weight: normal;
    font-style: normal;

}